#score {
    width: 500px;
    text-align: center;
    font-size: 30px;
}

body {
    text-align: center;
}

#wrapper {
    margin: 0 auto;
    position: relative;
    width: 500px;
}

#game-container {
    height: 800px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px black;
    overflow: hidden;
    position: relative;
    background: url(jumpbg.png) no-repeat center bottom;
    background-size: cover;
}

#player {
    font-size: 45px;
    text-shadow: 0 0 1px #000000, 0 0 1px #000000;
    width: 50px;
    height: 50px;
    z-index: 4;
}

#info {
    font-size: 50px;
    color: #000000;
    text-shadow: 0 0 2px #ffffff, 0 0 2px #ffffff, 0 0 2px #ffffff;
    text-align: center;
    width: 500px;
    position: absolute;
    z-index: 5;
    background: rgba(255, 255, 255, .5);
    top: 200px;
    padding: 4px 0;
}

#controls {
    width: 500px;
    position: absolute;
    top: 350px;
    z-index: 5;
}

.platform {
    width: 100px;
    height: 20px;
    background: linear-gradient(to bottom, #483B47, #231821);
    position: absolute;
    z-index: 0;
    box-shadow: 0 0 4px #AAA, 0 0 4px #AAA;
}

.platform.obstacle:before {
    content: "";
    background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 2" preserveAspectRatio="none"><polygon style="fill:%23b40000;" points="1,0 2,2 0,2 "/></svg>');
    background-size: 5px 10px;
    width: 100%;
    height: 5px;
    position: absolute;
    top: -5px;
    right: 0;
}

.platform.obstacle {
    background: linear-gradient(to bottom, #b40000, #231821);
    z-index: 2;
}

button#start-game {
    padding: 15px 30px;
    background-color: #ff9f43;
    border-radius: 50px;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.2s ease-in-out;
}

button#start-game:hover {
    background-color: #ff5e14;
    cursor: pointer;
}