@font-face {
    font-family: 'Noto Emoji';
    src: url('fonts/NotoColorEmoji-Regular.ttf') format('truetype');
}

.emoji {
    font-family: "Noto Emoji", serif;
}

#gameCanvas {
    border: 1px solid black;
}