.toast-custom-bottom-center {
    bottom: 0;
    right: 0;
    width: 100%;
}

#toast-container.toast-custom-bottom-center > div {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 767px) {
    #toast-container.toast-custom-bottom-center > div {
        width: 96%;
    }
}