.rating-container {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 5px;
    width: 100%;
    justify-content: center;
    left: 0;
}

.star {
    font-size: 14px;
    color: #ddd;
    cursor: pointer;
    transition: color 0.2s;
}

.star.filled {
    color: gold;
}

.rating-value {
    margin-left: 0.5rem;
    font-size: 12px;
    color: #aaa;
}